


#size{
  width: 250px;
  height: 250px;

}

#chris {
width: 250px;
height: 250px;

}

.bio1{
margin-left: 10%;
margin-top: 10%;
display: inline-block;

}

.bio2{
display: inline-block;
flex: wrap;
}

.bio3{

display: inline-block;
flex: wrap;
}
