



#size{
  width: 300px;
  height: 300px;

}

#chris {
width: 300px;
height: 300px;

}

.bio1{

margin-top: 10%;
display: inline-block;



}

.bio2{
display: inline-block;
 flex: wrap;
}

.bio3{

display: inline-block;
flex: wrap;
}
