#text {
font-size: 40px;
color: white;
  text-align: center;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    100% {
        background-color: rgb(234, 241, 255)
    }
}

body {
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}