#timer{
  font-size: 90px;
  text-align: center;
  float: center;
  border-style: double; border-color:rebeccapurple; padding: 1em; border-radius: 5px; border-width: 10px;
  color: white;

}

#body{
  background-color: blueviolet;
}

#Statement{
  color: white;
  bottom: -200px;
  font-size: 50px;
  float: center;
  valign: center;
  position: relative;
  top:40px;
}

#Statement2{
  font-size: 50px;
  color: white;
  position:relative;
  bottom: 40px
}



@keyframes bgcolor {
    0% {
        background-color: blueviolet;
    }
    100% {
        background-color: #568fd8
    }
    
}

@keyframes bordercolor {
    0% {
        border-color:rebeccapurple
    }
    100% {
        border-color:rgb(85, 228, 233)
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

#timer {
    -webkit-animation: bordercolor 20s infinite;
    animation: bordercolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.pause {
    -webkit-animation-play-state: paused !important; 
    -moz-animation-play-state: paused !important; 
    -o-animation-play-state: paused !important;
    animation-play-state: paused !important;
}