#timer{
  font-size: 90px;
  text-align: center;
  float: center;
  border-style: double; border-color:rebeccapurple; padding: 1em; border-radius: 5px; border-width: 10px;
  color: white;

}

#body{
  background-color: blueviolet
}

#Statement{
  color: white;
  bottom: -200px;
  font-size: 50px;
  float: center;
  valign: center;
  position: relative;
  top:40px;
}

#Statement2{
  font-size: 50px;
  color: white;
  position:relative;
  bottom: 40px
}
