#one{
background-color: #F3F3F3;

}

.color{
background-color: #CDDEE7;
position: sticky;
}


#slogan{
position: absolute;
font-family: Georgia;
font-size: 25px;
color:#808080;
margin-left: 50px;
margin-top: 250px;
background-color: white;
padding-left: 30px;
padding-right: 30px;
padding-top: 50px;
padding-bottom: 50px;
box-shadow:5px 10px #CDDEE7;
}

.footer{
  position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #CDDEE7;
      color: white;
      text-align: center;
      height: 50px;
}



#buttons{
margin-left: 1050px;
margin-top: 55px;
position: absolute;

}

#img{
height: 400px;
margin-top: 100px;
margin-left: 890px;
box-shadow: 5px 10px #888888;
}
