

#one{
background-color: #F3F3F3;

}

.color{
background-color: #CDDEE7;
position: sticky;
width:100%;
}


#slogan{
position: absolute;
top:33%;
font-family: Georgia;
font-size: 30px;
color:#808080;
background-color: white;
padding-left: 5%;
padding-right: 5%;
padding-top: 5%;
padding-bottom: 5%;
box-shadow:5px 10px #CDDEE7;
width:50%;
height: 30%;
flex-wrap: wrap;
left:5%;

}

#img{
top: 19%;
right:7%;
width:28%;
position: absolute;
 box-shadow: 5px 10px #888888;
}



.footer{
position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #CDDEE7;
    color: white;
    text-align: center;
    height: 50px;
}
