<!DOCTYPE html>
<html>
  <head>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Link to teamselect.css-->
    <link rel="stylesheet" type="text/css" href="CSS/howto_play.css">
<link href="https://fonts.googleapis.com/css?family=Heebo|Montserrat" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>How to play</title>


  </head>
  <body id="body" style="padding-right:5%; padding-left:5%;">

  <!-- s12 m5-->
<!-- <div id='instruction'>
  Choose your team:
</div> -->

<p id='Sentence'>Welcome to Debater!</p>
<div class="hoverable">
<p id='instructions'> Debater is an exciting new social party game that pits your most combative friends against each other! In Debater, two people are selected at random, where they are each assigned positions on a stupid topic to debate.</p>
</div>

<form class="" action="/" method="get">

    <button class="btn waves-effect waves-light blue lighten-3" type="submit" name="action">Play again
    <i class="material-icons right">send</i>
  </button>
  </form>
<!-- <div id='buttons'>

<a class="waves-effect waves-light btn-large #ef5350 red lighten-1">RED TEAM</a>
<br>
<br>
<a class="waves-effect waves-light btn-large #90caf9 blue lighten-3">BLUE TEAM</a>
<br>
<br>
<a class="waves-effect waves-light btn-large #a5d6a7 green lighten-3">GREEN TEAM</a>

</div> -->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
