<!DOCTYPE html>
<html>
  <head>
      <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- Link to teamselect.css-->
    <link rel="stylesheet" type="text/css" href="CSS/min.timer.css">
    <link href="https://fonts.googleapis.com/css?family=Heebo|Montserrat" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <title>Debater</title>



  </head>

  <body id="body" style="padding-right:5%; padding-left:5%;">
<p class="center" id="Statement">You only have </p>

<div class="hoverable">
<div id="timer">&nbsp</div>
</div>
<!-- <div id="timer">5:00</div> -->
<p class="center" id="Statement2">to prepare your argument</p>

<!-- Javascript for loading for 70 seconds -->


    <script src="JS/min.timer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </body>
</html>
